<h1> GAME OVER! </h1>
<h1><%= @game.winner %></h1>
<h2><%= @game.player_1.name %>: <%= @game.player_1.points %> </h2>
<h2><%= @game.player_2.name %>: <%= @game.player_2.points %> </h2>
<form action="/">
<input type="submit" value="New Game" id="New Game">
</form>